body {
  font-family: "Open Sans", sans-serif;
}

.jumbotron {
  padding-top: 6rem;
  background-color: #D9D9D9;
}

#project {
  background-color: #D9D9D9;
}

section {
  padding-top: 5rem;
}

.social-links {
  margin: 0 0 0 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.social-links a {
  color: #555186;
  margin-left: 15px;
}

.social-links a:hover {
  color: #D9D9D9;
}